*{
box-sizing: border-box;
}
body{
    background-color:wheat;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    background:rgb(29, 178, 184);
    border: 2px solid;
    height: 80vh;
    flex-direction: column;
    align-self: center;
    margin:auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
#result{
    display: flex;
    float: 1;
    font-size: 2em;
    border:1px solid;
    padding:5px;
    background: sandybrown;
    width:90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
button {
    background-color: #008CBA; /* Green */
    border: 1px soloid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
    margin-bottom: 1em;
    width: 40%;
    height: auto;

  }
  button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  button:active {
    transform: scale(0.8);
  }
  #btn1{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  input{
      margin: 5px;
      padding:0.5em;
      font-size: 1.1em;
      border:1px solid;
      width: 70%;
  }
  h1{
    margin: auto;
    color: white;
    font-size: 1.5rem;
    width: 90%;
  }
  h3{
    margin: auto;
    font-size: 1.1rem;
    font-weight: lighter;
    width: 90%;

  }
  input{
    background: wheat;

  }
  
  .form{
    align-self: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    border: 1px solid;
    width:80vw;
    background-color: turquoise;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  }
  form{
    display: flex;
    color:blue;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  form input{
    background:white;
    width:70%;
    margin:auto;
    
  }
  form p{
    display: flex;
    justify-content: center;
    align-items: center;

  }